<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (tap)="goback()" color="dark">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (tap)="linkService()" color="dark">
        联系客服
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login_log">
    <img src="/assets/log.jpg">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">邮箱</ion-label>
      <ion-input formControlName="username" type="email"></ion-input>
    </ion-item>
    <div class="error-messages">
      <ion-note *ngIf="f['username'].errors?.['required'] && submitted" color="danger">
        邮箱不能为空
      </ion-note>
      <ion-note *ngIf="f['username'].errors?.['email'] && submitted" color="danger">
        请输入有效的邮箱地址
      </ion-note>
    </div>

    <ion-item>
      <ion-label position="floating">密码</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <div class="error-messages">
      <ion-note *ngIf="f['password'].errors?.['required'] && submitted" color="danger">
        密码不能为空
      </ion-note>
      <ion-note *ngIf="f['password'].errors?.['minlength'] && submitted" color="danger">
        密码至少需要6位
      </ion-note>
    </div>

    <ion-item lines="none">
      <span slot="start" (click)="nav.navigateForward('/forgot-password')">忘记密码</span>
      <ion-button slot="end" fill="clear" color="primary" routerLink="/register">
        新用户注册
      </ion-button>
    </ion-item>

    <ion-buttons>
      <ion-button expand="block" type="submit" fill="solid" color="danger" class="btn_login">
        登录
      </ion-button>
    </ion-buttons>
  </form>
</ion-content>